@page
@model Empleados.Pages.Departamentos.DetalleModel
@{
	ViewData["Title"] = "Detalle del Departamento";
}

<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<h2 class="text-info">Detalle del Departamento: @Html.DisplayFor(m => m.Departamento.NombreDepartamento)</h2>
			<ul class="list-group">
				<li class="list-group-item"><strong>ID: </strong>@Html.DisplayFor(m => m.Departamento.Id)</li>
				<li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Departamento.NombreDepartamento)</li>
				<li class="list-group-item"><strong>Fecha Creacion: </strong>@Html.DisplayFor(m => m.Departamento.Descripcion)</li>
				<li class="list-group-item"><strong>Fecha Creacion: </strong>@Html.DisplayFor(m => m.Departamento.FechaCreacion)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<a asp-page="Index" class="btn btn-success">Volver</a>
		</div>
	</div>
</div>