@page
@model Empleados.Pages.Departamentos.DetalleModel
@{
	ViewData["Title"] = "Ver Departamento";
}

<div class="container pt-5">
	<div class="row">
		<div class="col-8 offset-2">
			<h2>Departamento de: @Html.DisplayFor(m => m.Departamento.NombreDepartamento)</h2>
			<br />
			<ul class="list-group">
				<li class="list-group-item"><strong>ID: </strong>@Html.DisplayFor(m => m.Departamento.Id)</li>
				<li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Departamento.NombreDepartamento)</li>
				<li class="list-group-item"><strong>Fecha Creacion: </strong>@Html.DisplayFor(m => m.Departamento.Descripcion)</li>
				<li class="list-group-item"><strong>Fecha Creacion: </strong>@Html.DisplayFor(m => m.Departamento.FechaCreacion)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-4 offset-2 mt-5">
			<a asp-page="Index" class="btn btn-dark btn-block">Volver</a>
		</div>
	</div>
</div>